<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="og:title" content="Smarteducation">
   <meta property="og:description" content="Smarteducation is a platform that helps students study in a better and more helpfull way.">
   <meta property="og:url" content="https://www.smrtedu.com">
   <meta name="keywords" content="Study, Ai, AI, ai, smarteducation, Learn, strategies, games, leaderboard, summary, school, university, highschool, planning, agenda" />
   <meta name="description" content="Welcome to smarteducation." />
   <meta name="author" content="Kiany Goossens" />
    <script src=""></script>
    <link rel="Stylesheet" href="/Styles/docs-styles.css">
    <link rel="icon" href="img/favicon-32x32.png"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/60152bf639.js" crossorigin="anonymous"></script>
    <title>Documentation | Smarteducation</title>
 <!--  ____                       _           _                 _   _             
      / ___| _ __ ___   __ _ _ __| |_ ___  __| |_   _  ___ __ _| |_(_) ___  _ __  
      \___ \| '_ ` _ \ / _` | '__| __/ _ \/ _` | | | |/ __/ _` | __| |/ _ \| '_ \ 
       ___) | | | | | | (_| | |  | ||  __/ (_| | |_| | (_| (_| | |_| | (_) | | | |
      |____/|_| |_| |_|\__,_|_|   \__\___|\__,_|\__,_|\___\__,_|\__|_|\___/|_| |_|
                                                                                    --> 
</head>
<body> 
    <!--Nabvar-Start-->
    <nav>
        <strong><a href="Learnmore.html">Home</a></strong>
        <strong><a href="">Learn More</a></strong>
        <img src="img\Navbar-img.png" alt="Navbar-img">
        <button class="login">Login</button>
        <button class="signup">Sign Up</button>
     </nav>
        <!--Navbar-End-->
        <!--Title Starts-->
        <div id="navbar">
           <div class="buttons">
              <a class="underline-on-hover" href="">Community</a>
              <a class="underline-on-hover" href="">Privacy</a>
              <a class="underline-on-hover" href="">Terms</a>
              <a class="underline-on-hover" href="">Cookies</a>
              <a class="underline-on-hover" href="">Copyright</a>
              <a class="underline-on-hover" href="">Legal</a>
              <a class="underline-on-hover" href="">Author</a>
              <a class="underline-on-hover" href="">Api's</a>
           </div>
        </div>
        <!--Title Ends-->
        <!--Community Guidelines Starts-->
        <div class="container">
         <div id="Community">
            <h1>Community Guidelines</h1>
            <h2>Respect and Courtesy</h2>
            <p>At SmartEducation, we strive to create a positive and inclusive learning environment. 
               We ask all our users to adhere to the following guidelines for respect and courtesy:
            </p>
            <ul>
               <li><span>No Discrimination or Hate Speech:</span>We do not tolerate any form of discrimination, hate speech, 
                  or inappropriate behavior based on race, gender, sexual orientation, religion, age, or any other 
                  personal characteristics. All users should be mindful of the impact of their words and actions on others.
               </li>
               <li>
                  <span>Respect for Other Users:</span>We encourage a culture of mutual respect and understanding. Treat others as you would like to be treated, 
                  and avoid using language that could be hurtful or offensive. Diverse opinions are welcome, but they must always be expressed respectfully.
               </li>
            </ul>
            <h2>Safety and Privacy</h2>
            <p>At SmartEducation, we place a high value on the safety and privacy of our users. 
               We are committed to providing a secure online environment where you can communicate, share information, 
               and participate in our community with confidence. Here are some key aspects of our safety and privacy policy:
            </p>
            <ul>
               <li><span>Protection of Personal Data:</span>We take the protection of your personal data very seriously. Any 
                  information you share with us is treated confidentially and used only in accordance with our privacy policy. 
                  We will never sell your personal data to third parties and ensure that it is securely stored and protected against unauthorized access.
               </li>
               <li><span>Account Security:</span>Securing your account is of utmost importance to ensure that your personal data and communications remain 
                  safe. We strongly recommend using strong passwords, regularly updating your password, and enabling two-factor authentication if available.
               </li>
               <li><span>Security Measures:</span>We continuously implement security measures to maintain the integrity of our website and protect users from 
                  online threats. This includes monitoring our systems for suspicious activity, regularly updating security patches, and providing educational 
                  resources to our users about online safety.
               </li>
               <li><span>Data Encryption:</span>To safeguard our users' privacy, we use advanced encryption methods to secure the transmission of sensitive information. 
                  This ensures that your personal data is protected at all times during communication with our servers.
               </li>
            </ul>
            <p>We are committed to maintaining the highest standards of safety and privacy to ensure that you have a positive and worry-free experience at SmartEducation. 
               If you have any questions about our safety and privacy policy, please do not hesitate to contact us.
            </p>
            <h2>Content and Behavior</h2>
            <p>At SmartEducation, we strive to create a positive and respectful community where users can freely communicate and participate in discussions. To maintain 
               this environment, we have established guidelines regarding the type of content allowed and the behavior expected from all users:
            </p>
            <ul>
               <li><span>Respectful Communication:</span>We expect all users to treat each other with respect, regardless of disagreements or backgrounds. Offensive language, 
                  bullying, harassment, or other forms of negative behavior will not be tolerated.</li>
                  <li><span>Relevant Content:</span>Post only content that is relevant to the discussion or topic of the website. Spam, advertising, off-topic posts, and other 
                     non-relevant content may be removed.
                  </li>
                  <li><span>Respect for Copyright:</span>Respect the rights of authors and creators by not posting content for which you do not have the necessary permissions 
                     or licenses. The illegal sharing of copyrighted material is not allowed.
                  </li>
                  <li><span>Use of Language:</span>Be mindful of your language and avoid using profanity, vulgar words, or other inappropriate language that could be offensive 
                     to others.
                  </li>
                  <li><span>Reporting Violations:</span>If you encounter content that violates our guidelines, we encourage you to report it to the moderation team so that appropriate 
                     action can be taken.
                  </li>
            </ul>
            <p>By adhering to these guidelines, you help create a friendly, respectful, and inclusive community at SmartEducation. Thank you for your cooperation and contribution 
               to a positive experience for all users.
            </p>
            <h2>Contributing to the Community</h2>
            <p>At SmartEducation, we strongly believe in the power of community and collaboration. We encourage all users to contribute to our community in a positive and constructive 
               way. Here are some ways you can contribute:
            </p>
            <ul>
               <li><span>Share Knowledge and Experience:</span>Do you have expertise in a particular area? Share your knowledge and experiences with others by providing helpful 
                  information, tips, and advice. By helping others, we collectively build a valuable resource for the entire community.
               </li>
               <li><span>Participate in Discussions:</span>Make your voice heard in discussions and debates on topics that matter to you. Be respectful towards others and listen to 
                  different viewpoints to foster a constructive dialogue.
               </li>
               <li><span>Help Others:</span>Be ready to assist others when they have questions or need support. This can range from answering questions to providing technical 
                  support or simply offering a listening ear.
               </li>
               <li><span>Provide Feedback:</span>Give constructive feedback on how we can improve our community and services. Your input is valuable and helps us better meet the 
                  needs of our users.
               </li>
               <li><span>Respect the Community:</span>Adhere to the community guidelines and contribute to a positive and respectful atmosphere. Treat others as you would like to 
                  be treated and help create an inclusive and welcoming environment for everyone.
               </li>
            </ul>
            <p>By actively participating and contributing to our community, we can grow, learn, and thrive together. Thank you for your contribution to SmartEducation and for helping 
               build a strong and close-knit community.
            </p>
            <h2>Enforcement and Consequences</h2>
            <p>At SmartEducation, we strive for a safe and respectful environment for all our users. To achieve this, we have established an enforcement policy that addresses 
               violations of our community guidelines and imposes appropriate consequences. Here are some aspects of our enforcement policy:
            </p>
            <ul>
               <li><span>Moderation:</span>Our moderation team is responsible for overseeing the activities and content on our website. They are tasked with enforcing our community 
                  guidelines and taking action against violations.
               </li>
               <li><span>Warnings:</span>For a first violation, users may receive a warning informing them of the breach of our guidelines and advising them of the potential 
                  consequences of further violations.
               </li>
               <li><span>Temporary Suspension:</span>In more serious cases, a user may be temporarily suspended from the website as a measure to prevent further violations and 
                  ensure the safety of the community.
               </li>
               <li><span>Permanent Exclusion: </span> If a user repeatedly violates our community guidelines or engages in serious misconduct, they may be permanently excluded 
                  from the website.
               </li>
               <li><span>Appeal and Review:</span>Users who disagree with an enforcement action have the opportunity to appeal and request a review. Our team will carefully 
                  consider the appeal and, if necessary, revise the action.
               </li>
            </ul>
            <p>We believe that effective enforcement of our guidelines contributes to a safe and welcoming environment for all users. Thank you for your cooperation and 
               understanding in upholding these standards at SmartEducation.
            </p>
           </div>
           <!--Community Guidelines Ends-->
           <!--Terms Starts-->
           <div id="terms">
            <h1>Terms of Service</h1>
            <h2>1. Introduction</h2>
            <p>Welcome to SmartEducation! These Terms of Service constitute a legally binding agreement between you (the user) and SmartEducation regarding your use of our 
               website and related services. By accessing or using our website, you agree to these terms. Please read them carefully before using our website.
            </p>
            <h2>2. Definitions</h2>
            <p>In these Terms, the following definitions apply:</p>
            <ul>
               <li>"SmartEducation" refers to our website and the company behind it.</li>
               <li>"User" refers to any individual who visits or uses our website.</li>
               <li>"Content" includes all text, images, videos, and other materials available on our website.</li>
            </ul>
            <h2>3. Terms of Use</h2>
            <p>By using our website, you agree to the following terms:</p>
            <ul>
               <li>Not infringe upon the rights of others.</li>
               <li>Not distribute harmful software or code.</li>
               <li>Not violate the privacy of others.</li>
               <li>Not engage in any illegal activities.</li>
               <li>Not post content that violates our community guidelines.</li>
            </ul>
            <h2>4. User Accounts</h2>
            <p>To access certain features of our website, you may need to create a user account. You are responsible for keeping your account details secure and for managing your 
               account activities. We reserve the right to terminate or suspend user accounts at any time and for any reason.</p>
            <h2>5. Content and Ownership</h2>
            <p>All content posted by users on our website remains the property of the respective owners. By posting content on our website, you grant us a non-exclusive, royalty-free 
               license to use, reproduce, adapt, publish, and distribute this content for purposes related to our website.</p>
            <h2>6. Intellectual Property Rights</h2>
            <p>All intellectual property rights related to our website and its content belong to SmartEducation or the respective owners. You may not copy, reproduce, distribute, or 
               otherwise use any material from our website without prior written consent.
            </p>
            <h2>7. Privacy</h2>
            <p>We respect your privacy and take the protection of personal data seriously. Our Privacy Policy outlines how we collect, use, share, and protect personal data. By using our website, 
               you agree to our Privacy Policy</p>
            <h2>8. Termination</h2>
            <p>We reserve the right to terminate or suspend your access to our website at any time and for any reason, without prior notice or liability.</p>
            <h2>9. Liability and Indemnification</h2>
            <p>We strive to provide accurate and up-to-date information on our website, but we do not guarantee the completeness, accuracy, or reliability of the information. We are not 
               liable for any damage or 
               loss resulting from the use of our website. You agree to indemnify and hold SmartEducation harmless from any claims arising from your use of our website.</p>
            <h2>10. Changes to the Terms</h2>
            <p>We reserve the right to modify these Terms of Service at any time. We will update the date of the last revision of the terms and notify users of any changes. Continued 
               use of the website after changes constitute acceptance of the new terms.</p>
            <h2>11. Governing Law</h2>
            <p>These Terms of Service are governed by Belgian law. In the event of a dispute, only the courts of Belgium shall have jurisdiction.</p>
           </div>
           <!--Terms Ends-->
           <!--Privacy Policy Starts-->
           <div id="privacy">
            <h1>Privacy Policy</h1>
<p>Last updated: August 26, 2024</p>
<p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
<p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">Free Privacy Policy Generator</a>.</p>
<h2>Interpretation and Definitions</h2>
<h3>Interpretation</h3>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h3>Definitions</h3>
<p>For the purposes of this Privacy Policy:</p>
<ul>
<li>
<p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>
</li>
<li>
<p><strong>Affiliate</strong> means an entity that controls, is controlled by or is under common control with a party, where &quot;control&quot; means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</p>
</li>
<li>
<p><strong>Application</strong> refers to Smarteducation, the software program provided by the Company.</p>
</li>
<li>
<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Smarteducation.</p>
</li>
<li>
<p><strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</p>
</li>
<li>
<p><strong>Country</strong> refers to:  Belgium</p>
</li>
<li>
<p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
</li>
<li>
<p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
</li>
<li>
<p><strong>Service</strong> refers to the Application or the Website or both.</p>
</li>
<li>
<p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
</li>
<li>
<p><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
</li>
<li>
<p><strong>Website</strong> refers to Smarteducation, accessible from <a href="smrtedu.com" rel="external nofollow noopener" target="_blank">smrtedu.com</a></p>
</li>
<li>
<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
</li>
</ul>
<h2>Collecting and Using Your Personal Data</h2>
<h3>Types of Data Collected</h3>
<h4>Personal Data</h4>
<p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
<ul>
<li>
<p>Email address</p>
</li>
<li>
<p>First name and last name</p>
</li>
<li>
<p>Phone number</p>
</li>
<li>
<p>Usage Data</p>
</li>
</ul>
<h4>Usage Data</h4>
<p>Usage Data is collected automatically when using the Service.</p>
<p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
<p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
<p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
<h4>Tracking Technologies and Cookies</h4>
<p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:</p>
<ul>
<li><strong>Cookies or Browser Cookies.</strong> A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service. Unless you have adjusted Your browser setting so that it will refuse Cookies, our Service may use Cookies.</li>
<li><strong>Web Beacons.</strong> Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity).</li>
</ul>
<p>Cookies can be &quot;Persistent&quot; or &quot;Session&quot; Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close Your web browser. Learn more about cookies on the <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank">Free Privacy Policy website</a> article.</p>
<p>We use both Session and Persistent Cookies for the purposes set out below:</p>
<ul>
<li>
<p><strong>Necessary / Essential Cookies</strong></p>
<p>Type: Session Cookies</p>
<p>Administered by: Us</p>
<p>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</p>
</li>
<li>
<p><strong>Cookies Policy / Notice Acceptance Cookies</strong></p>
<p>Type: Persistent Cookies</p>
<p>Administered by: Us</p>
<p>Purpose: These Cookies identify if users have accepted the use of cookies on the Website.</p>
</li>
<li>
<p><strong>Functionality Cookies</strong></p>
<p>Type: Persistent Cookies</p>
<p>Administered by: Us</p>
<p>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</p>
</li>
</ul>
<p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
<h3>Use of Your Personal Data</h3>
<p>The Company may use Personal Data for the following purposes:</p>
<ul>
<li>
<p><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
</li>
<li>
<p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
</li>
<li>
<p><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</p>
</li>
<li>
<p><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
</li>
<li>
<p><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</p>
</li>
<li>
<p><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</p>
</li>
<li>
<p><strong>For business transfers:</strong> We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</p>
</li>
<li>
<p><strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.</p>
</li>
</ul>
<p>We may share Your personal information in the following situations:</p>
<ul>
<li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service,  to contact You.</li>
<li><strong>For business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.</li>
<li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
<li><strong>With business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
<li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside.</li>
<li><strong>With Your consent</strong>: We may disclose Your personal information for any other purpose with Your consent.</li>
</ul>
<h3>Retention of Your Personal Data</h3>
<p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
<p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</p>
<h3>Transfer of Your Personal Data</h3>
<p>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
<p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
<p>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</p>
<h3>Delete Your Personal Data</h3>
<p>You have the right to delete or request that We assist in deleting the Personal Data that We have collected about You.</p>
<p>Our Service may give You the ability to delete certain information about You from within the Service.</p>
<p>You may update, amend, or delete Your information at any time by signing in to Your Account, if you have one, and visiting the account settings section that allows you to manage Your personal information. You may also contact Us to request access to, correct, or delete any personal information that You have provided to Us.</p>
<p>Please note, however, that We may need to retain certain information when we have a legal obligation or lawful basis to do so.</p>
<h3>Disclosure of Your Personal Data</h3>
<h4>Business Transactions</h4>
<p>If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
<h4>Law enforcement</h4>
<p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
<h4>Other legal requirements</h4>
<p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
<ul>
<li>Comply with a legal obligation</li>
<li>Protect and defend the rights or property of the Company</li>
<li>Prevent or investigate possible wrongdoing in connection with the Service</li>
<li>Protect the personal safety of Users of the Service or the public</li>
<li>Protect against legal liability</li>
</ul>
<h3>Security of Your Personal Data</h3>
<p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
<h2>Children's Privacy</h2>
<p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</p>
<p>If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent's consent before We collect and use that information.</p>
<h2>Links to Other Websites</h2>
<p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</p>
<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
<h2>Changes to this Privacy Policy</h2>
<p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
<p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy, You can contact us:</p>
<ul>
<li>By email: info@smrtedu.com</li>
</ul>
           </div>
           <!--Privacy Policy Ends-->
           <!--Payment Starts-->
           <div id="payment">
            <h1>Payment Terms</h1>
            <h2>1. Price</h2>
            <p>The cost of using our services is €2.99 per month. This price is exclusive of any applicable taxes.</p>
            <h2>2. Payment Methods</h2>
            <p>We accept the following payment methods:</p>
            <ul>
             <li>Credit Cards (Visa, MasterCard, American Express)</li>
             <li>PayPal</li>
             <li>Bank Transfers</li>
             <p>Payments must be made in advance for the duration of the selected subscription period.</p>
            </ul>
            <h2>3. Automatic Renewal</h2>
            <p>Your subscription will automatically renew at the end of each monthly period unless you choose to cancel your subscription. The €2.99 fee will be automatically 
               charged through your selected payment method.</p>
            <h2>4. Cancellations and Refunds</h2>
            <p>You can cancel your subscription at any time through your account settings. After cancellation, you will have access to the service for the remaining duration of 
               the paid subscription period. No refunds will be provided for the remaining days of a canceled subscription.
            </p>
            <h2>5. Payment Errors</h2>
            <p>If we are unable to process the payment due to an issue with your provided payment method, we will attempt to notify you and give you the opportunity to resolve 
               the payment. If payment cannot be processed within a reasonable timeframe, we reserve the right to suspend or terminate your access to the services.
            </p>
            <h2>6. Price Changes</h2>
            <p>We reserve the right to change the prices for our services at any time. Such changes will take effect at the beginning of the next subscription period following 
               the date on which the new price is implemented. We will notify you in advance of any price changes and provide you with the opportunity to cancel your subscription 
               before the new price takes effect.
            </p>
            <h2>7. Taxes</h2>
            <p>You are responsible for paying all applicable taxes arising from your use of our services. We will notify you if we are required to charge such taxes.
            </p>
            <h2>8. Contact Information</h2>
            <p>For any questions or comments regarding these payment terms, you can contact us at:</p>
            <ul>
               <li><span>Email:</span>info@smrtedu.com</li>
               <li><span>Phone:</span>+32 489 09 08 29</li>
            </ul>
            <p>By subscribing to our services, you agree to these payment terms. It is your responsibility to ensure that your payment information is up-to-date and 
               accurate and to pay for the services you use on time</p>
           </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Payment Ends-->
<!--Footer Start-->
<section id="footer">
   <div class="footer-left">
      <img src="img/Navbar-img.png" alt="Navbar-img">
      <div class="socials">
         <i class="fa-brands fa-x-twitter"></i>
         <i class="fa-brands fa-facebook-f"></i>
         <i class="fa-brands fa-tiktok"></i>
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-linkedin-in"></i>
   </div>
   </div>
   <div class="footer-right">
      <div class="support">
         <h1>Support</h1>
         <a href="/Documentation">Documentation</a>
         <a href="/Learnmore">Learn More</a>
         <a href="/Learnmore#how">How to use</a>
         <a href="/Learnmore#price">Products</a>
         <a href="/Learnmore#price">Pricing</a>
         <a href="/Learnmore#how">What is SmrtEdu</a>
         <a href="/Documentation">Api's</a>
      </div>
      <div class="About">
         <h1>About Us</h1>
         <a href="/Learnmore#about">About Us</a>
         <a href="/Learnmore#about">Contact</a>
         <a href="/Learnmore#mission">Mission</a>
      </div>
      <div class="legal">
         <h1>Legal</h1>
         <a href="/Documentation">Documentation</a>
         <a href="/Documentation#terms">Terms</a>
         <a href="/Documentation#privacy">Cookies</a>
         <a href="/Documentation#privacy">Privacy</a>
         <a href="/Documentation#terms">Legal</a>
         <a href="/Documentation#terms">Author</a>
         <a href="/Documentation#community">Community Guide</a>
      </div>
   </div>
   <br>
   <br>
   <br>
   <div class="line-container">
      <div class="line"></div>
   </div>
 </section>
 <p class="rights">© 2024 Smarteducation. All rights reserved.</p>
 <!--Footer End-->
</body>
</html>