<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <meta property="og:title" content="Smarteducation">
   <meta property="og:description" content="Smarteducation is a platform that helps students study in a better and more helpfull way.">
   <meta property="og:url" content="https://www.smrtedu.com">
   <meta name="keywords" content="Study, Ai, AI, ai, smarteducation, Learn, strategies, games, leaderboard, summary, school, university, highschool, planning, agenda" />
   <meta name="description" content="Welcome to smarteducation." />
   <meta name="author" content="Kiany Goossens" />
    <script src=""></script>
    <link rel="Stylesheet" href="/Styles/index-styles.css">
    <link rel="icon" href="/img/favicon-32x32.png"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/60152bf639.js" crossorigin="anonymous"></script>
    <title>index | Smarteducation</title>
 <!--  ____                       _           _                 _   _             
      / ___| _ __ ___   __ _ _ __| |_ ___  __| |_   _  ___ __ _| |_(_) ___  _ __  
      \___ \| '_ ` _ \ / _` | '__| __/ _ \/ _` | | | |/ __/ _` | __| |/ _ \| '_ \ 
       ___) | | | | | | (_| | |  | ||  __/ (_| | |_| | (_| (_| | |_| | (_) | | | |
      |____/|_| |_| |_|\__,_|_|   \__\___|\__,_|\__,_|\___\__,_|\__|_|\___/|_| |_|
                                                                                    --> 
</head>
<body>
    <!--Nabvar-Start-->
    <nav>
      <strong><a href="/Learnmore">Learn More</a></strong>
      <strong><a href="/Documentation">Privacy</a></strong>
      <strong><a href="/Documentation">Terms</a></strong>
      <img src="img\Navbar-img.png" alt="Navbar-img">
      <button onclick="window.location.href='/login'" class="login">Login</button>
      <button onclick="window.location.href='/signup'" class="signup">Sign Up</button>
    </nav>
    <!--Navbar-End-->
    <!--Header Start-->
    <header>
      <h1>Elevate Learning, Click by click
      </h1>
      <p>Accelerate Your Learning Journey, with Smarteducation.</p>
      <button onclick="window.location.href='/signup'" class="signup">Signup</button>
      <button onclick="window.location.href='/login'" class="login">Login</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </header>
    <!--Header End-->
    <!--Info Start-->
    <section id="info">
      <h2>Smart Learning with Smarteducation</h2>
      <!--Learn starts-->
      <div class="learn-container">
         <img src="img/Learning-img.png" alt="Learning-img">
         <div class="learn-content">
            <h1>Learning</h1>
            <p>
               Smarteducation assists students in enhancing their understanding 
               of tests and exams through efficient summaries and engaging mini-games. 
               Unlock the power of effective learning on our platform!
            </p>
         </div>
      </div>
      <div class="learn-buttons">
         <button onclick="window.location.href='/signup'" class="signup">Signup</button>
         <a href="/Learnmore">
            <button onclick="window.location.href='/Learnmore'" class="learn">Learn More</button>
         </a>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!--Learn ends-->
      <!--Time starts-->
      <div class="time-container">
         <div class="time-content">
             <h1 id="Time">Efficiënt Time Management</h1>
             <p>
                 Our platform aids students in efficiently organizing their tasks, tests, and study sessions. 
                 Leveraging AI, we ensure ample breaks for optimal productivity, ensuring there's enough time 
                 to master everything flawlessly.
              </p>
         </div>
         <img src="img/Time-img.png" alt="Time-img">
      </div>
      <div class="time-buttons">
         <button onclick="window.location.href='/signup'" class="signup">Signup</button>
         <a href="/Learnmore">
            <button class="learn">Learn More</button>
         </a>
      </div>
      <!--Time ends-->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!--AI starts-->
      <div class="ai-container">
         <img src="img/AI-img.png" alt="AI-image"/>
         <div class="ai-content">
             <h1 id="AI">Artificial Intelegence</h1>
             <p>
             At Smarteducation, our cutting-edge AI is your ultimate study companion. 
             From crafting concise summaries to managing study schedules, sending timely reminders, 
             and generating practice quizzes, our AI is designed to revolutionize your learning experience. 
             </p>
         </div>
      </div>
      <div class="ai-buttons">
         <button onclick="window.location.href='/signup'" class="signup">Signup</button>
         <a href="/Learnmore">
            <button class="learn">Learn More</button>
         </a>
      </div>
       <!--AI Ends-->
    </section>
    <!--Info End-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--What Start-->
    <section id="What">
      <h1>What is Smarteducation</h1>
      <div class="what-container">
         <div class="what content"></div>
         <p>
            Welcome to Smarteducation, your all-in-one academic companion! 
            We're a dynamic online platform designed to empower students. 
            Whether you're conquering exams, planning your study sessions, or mastering subjects 
            through efficient summaries and engaging mini-games, Smarteducation is your go-to destination. 
            Our state-of-the-art AI ensures personalized learning experiences, managing everything from study schedules to 
            timely reminders, allowing you to achieve academic success with confidence. Join us on the journey of efficient learning and 
            strategic planning.
            "Smarteducation, where education meets innovation!"
         </p>
         <img src="img/What-img.png" alt="What-img">
      </div>
      <div class="what-buttons">
         <button onclick="window.location.href='/signup'" class="signup">Signup</button>
         <button onclick="window.location.href='/login'" class="login">Login</button>
      </div>
      <br>
      <br>
      <br>
      <div class="line-container">
         <div class="line"></div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </section>
    <!--What End-->
    <!--Footer Start-->
    <section id="footer">
      <div class="footer-left">
         <img src="img/Navbar-img.png" alt="Navbar-img">
         <div class="socials">
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
      </div>
      </div>
      <div class="footer-right">
         <div class="support">
            <h1>Support</h1>
            <a href="/Documentation">Documentation</a>
            <a href="/Learnmore">Learn More</a>
            <a href="/Learnmore#how">How to use</a>
            <a href="/Learnmore#price">Products</a>
            <a href="/Learnmore#price">Pricing</a>
            <a href="/Learnmore#how">What is SmrtEdu</a>
            <a href="/Documentation">Api's</a>
         </div>
         <div class="About">
            <h1>About Us</h1>
            <a href="/Learnmore#about">About Us</a>
            <a href="/Learnmore#about">Contact</a>
            <a href="/Learnmore#mission">Mission</a>
         </div>
         <div class="legal">
            <h1>Legal</h1>
            <a href="/Documentation">Documentation</a>
            <a href="/Documentation#terms">Terms</a>
            <a href="/Documentation#privacy">Cookies</a>
            <a href="/Documentation#privacy">Privacy</a>
            <a href="/Documentation#terms">Legal</a>
            <a href="/Documentation#terms">Author</a>
            <a href="/Documentation#community">Community Guide</a>
         </div>
      </div>
      <br>
      <br>
      <br>
      <div class="line-container">
         <div class="line"></div>
      </div>
    </section>
    <p class="rights">© 2024 Smarteducation. All rights reserved.</p>
    <!--Footer End-->
</body>
</html>