<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="Smarteducation">
    <meta property="og:description" content="Smarteducation is a platform that helps students study in a better and more helpfull way.">
    <meta property="og:url" content="https://www.smrtedu.com">
    <meta name="keywords" content="Study, Ai, AI, ai, Smarteducation, Learn, strategies, games, leaderboard, summary, school, university, highschool, planning, agenda" />
    <meta name="description" content="Welcome to Smarteducation." />
    <meta name="author" content="Kiany Goossens" />
     <script src="Script.js"></script>
     <link rel="Stylesheet" href="/Styles/learn_more-styles.css">
     <link rel="icon" href="img/favicon-32x32.png">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/60152bf639.js" crossorigin="anonymous"></script>
     <title>Learn More | Smarteducation</title>
 <!--  ____                       _           _                 _   _             
      / ___| _ __ ___   __ _ _ __| |_ ___  __| |_   _  ___ __ _| |_(_) ___  _ __  
      \___ \| '_ ` _ \ / _` | '__| __/ _ \/ _` | | | |/ __/ _` | __| |/ _ \| '_ \ 
       ___) | | | | | | (_| | |  | ||  __/ (_| | |_| | (_| (_| | |_| | (_) | | | |
      |____/|_| |_| |_|\__,_|_|   \__\___|\__,_|\__,_|\___\__,_|\__|_|\___/|_| |_|
                                                                                    -->
</head>
<body>
    <!--Nabvar-Start-->
    <nav>
      <a href="Learnmore.html">Home</a>
      <a href="">Privacy</a>
      <a href="">Terms</a>
      <img src="img\Navbar-img.png" alt="Navbar-img">
      <button class="login">Login</button>
      <button class="signup">Sign Up</button>
   </nav>
      <!--Navbar-End-->
      <!--Title Start-->
      <h1 id="title">Learn More</h1>
      <div id="navbar">
         <div class="buttons">
            <a class="underline-on-hover" href="Learnmore.html">About</a>
            <a class="underline-on-hover" href="">Mission</a>
            <a class="underline-on-hover" href="">Benefits</a>
            <a class="underline-on-hover" href="">Approach</a>
            <a class="underline-on-hover" href="">Contact</a>
            <a class="underline-on-hover" href="">Products</a>
            <a class="underline-on-hover" href="">Pricing</a>
            <a class="underline-on-hover" href="">Info</a>
         </div>
      </div>
      <!--Title End-->
      <!--About-Us Starts-->
      <div id="about">
         <img src="img/About-us_img.png" alt="">
         <div class="about-content">
            <h1>About Us</h1>
            <p>Welcome to Smarteducation, where traditional studying meets cutting-edge technology. 
               Our AI-powered platform offers personalized learning paths, interactive study sessions, and a vibrant community of learners. 
               With gamified features and 24/7 access, Smarteducation makes learning fun, flexible, and effective. 
               Join us and unlock your full potential today!
            </p>
         </div>
      </div>
      <div class="line-container1">
         <div class="line1"></div>
      </div>
<!--About-Us Ends-->
<!--Mission Starts-->
      <div id="mission">
         <div class="mission-content">
            <h1>Our Mission</h1>
            <p>At Smarteducation, our mission is clear: to revolutionize the way students learn and excel academically. 
               We are committed to providing innovative tools and resources that empower learners to reach their full potential. 
               Through personalized learning experiences, cutting-edge technology, and a supportive community, 
               we strive to make education accessible, engaging, and effective for students of all backgrounds. 
               Our mission is to inspire a lifelong love of learning and equip students with the skills and knowledge 
               they need to succeed in school and beyond.</p>
         </div>
            <img src="img/mission-img.png" alt="">
      </div>
      <div class="line-container1">
         <div class="line1"></div>
      </div>
      <!--Mission Ends-->
      <!--Beneftits Start-->
      <div id="benefits">
         <img src="img/Benefits-Img.png" alt="">
         <div class="benefits-container">
            <h1>Our Benefits</h1>
            <p> <span>Personalized Learning:</span> Tailored study paths and adaptive AI technology ensure personalized learning experiences tailored to your needs.
               <br>
               <br>
               <span>Interactive Study Tools:</span> Engage with interactive quizzes, virtual flashcards, and collaborative study sessions to reinforce your understanding.
               <br>
               <br>
               <span>24/7 Accessibility:</span> Access Smarteducation anytime, anywhere, for convenient and flexible learning on your schedule.
               <br>
               <br>
               <span>Gamified Experience:</span> Earn rewards, climb leaderboards, and unlock achievements to make learning fun and rewarding.
               </p>
         </div>
      </div>
      <div class="line-container1">
         <div class="line1"></div>
      </div>
      <!--Benefits Ends-->
      <!--Approach starts-->
      <div id="approach">
         <div class="approach-container">
            <h1>Our Approach</h1>
            <p><span>Personalization:</span> We believe in personalized learning experiences 
               tailored to each student's unique strengths, weaknesses, and learning style.
               <br>
               <br>
               <span>Innovation:</span> We leverage cutting-edge technology, including AI algorithms and interactive tools, to enhance learning outcomes and engagement.
               <br>
               <br>
               <span>Flexibility:</span> Our platform offers flexible study options and 24/7 accessibility, empowering students to learn at their own pace and on their own schedule.
               <br>
               <br>
               <span>Gamification:</span> Learning should be enjoyable, which is why we gamify the learning experience with rewards, leaderboards, and achievements to motivate and inspire students.</p>
         </div>
            <img src="img/approach-img.png" alt="">
      </div>
      <div class="line-container1">
         <div class="line1"></div>
      </div>
      <!--Approach Ends-->
      <!--Producs/Pricing starts-->
      <div id="price">
         <div class="Products-Pricing">
            <div class="product-card">
               <h1>Pricing</h1>
               <p class="price">€2,99 <span>/month</span></p>
               <div class="line-container2">
                  <div class="line2"></div>
               </div>
               <ul>
                  <li>Agenda</li>
                  <li>AI</li> 
                  <li>Games</li>
                  <li>Practice Tests</li>
                  <li>Study Timer</li>
                  <li>Summaries</li>
                  <li>Leaderboards</li>
                  <li>Streak</li>
                  <li>Grade Input</li>
                  <li>Planning</li>
               </ul>
            </div>
         </div>
      </div>
      <!--About-Us ends-->
      <!--How To Starts-->
      <section id="how">
         <div>
            <h1 class="title">How does it work?</h1>
         </div>
         <div class="content">
            <p class="text">Welcome to Smarteducation, the advanced online learning platform that supports you 
               in various ways with your studies. Whether you're studying individually or with friends, 
               Smarteducation offers a versatile learning environment that cleverly utilizes AI software to make 
               the learning process even more efficient and accessible.</p>
         </div>
         <div class="content">
            <h2>Learning Strategies:</h2>
         </div>
         <div class="content">
            <p>Smarteducation offers a range of learning strategies, including summaries, exercises, games, 
               practice tests, and more, to help you achieve your study goals.</p>
         </div>
         <div class="content">
            <h2>XP Earnings and Leaderboard:</h2>
         </div>
         <div class="content">
            <p>Earn experience points (XP) by tracking your study progress and performance on the platform. 
               Climb the leaderboards at global levels by consistently ranking at the top.</p>
         </div>
         <div class="content">
            <h2>Ranks:</h2>
         </div>
         <div class="content">
            <p>Progress through the ranks, from Beginner Brains to Einstein Elite, and be rewarded for your study efforts.</p>
         </div>
         <div class="content"> 
            <h2>Streak:</h2>
         </div>
         <div class="content">
            <p>Track your study streak and receive rewards for your daily dedication to studying. 
               Earn special badges when reaching milestones such as 50, 75, 100, 200, 365, and 730 days.</p>
         </div>
         <div class="content">
            <h2>Exams:</h2>
         </div>
         <div class="content">
            <p>Earn extra XP during exam periods and have the chance to win special badges for your effort and performance.</p>
         </div>
         <div class="content">
            <h2>Challenges and Badges:</h2>
         </div>
         <div class="content">
            <p>Participate in monthly challenges and earn well-deserved badges upon task completion.</p>
         </div>
         <div class="content">
            <h2>Grade Input:</h2>
         </div>
         <div class="content">
            <p>Input your grades and automatically receive a report on your study progress and recommendations for your next tests.</p>
         </div>
         <div class="content">
            <h2>Forum:</h2>
         </div>
         <div class="content">
            <p>Ask questions and collaborate with fellow users through our interactive forum, where knowledge and ideas are shared.</p>
         </div>
         <div class="content">
            <h2>AI Support:</h2>
         </div>
         <div class="content">
            <p>Utilize advanced AI integrations for customized lessons, summaries, and personal guidance.</p>
         </div>
         <div class="content">
            <h2>Focus Timer:</h2>
         </div>
         <div class="content">
            <p>Use the optimized focus timer for structured study periods and breaks.</p>
         </div>
         <div class="content">
            <h2>Color-Coded Summaries:</h2>
         </div>
         <div class="content">
            <p>Differentiate between concepts, explanations, and more with color coding in the summaries.</p>
         </div>
         <div class="content">
            <h2>Games:</h2>
         </div>
         <div class="content">
            <p>Play various educational games, including crosswords, quizzes, memory games, and more, for a fun and effective learning experience.</p>
         </div>
         <div class="content">
            <h2>Flashcards:</h2>
         </div>
         <div class="content">
            <p>Enhance your learning process with quick and efficient flashcards.</p>
         </div>
         <div class="content">
            <h2>Planning:</h2>
         </div>
         <div class="content">
            <p>Organize your lessons and study sessions thoughtfully using the planning system, which takes 
               into account free time, breaks, and your proficiency in specific subjects.</p>
         </div>
         <div class="content">
            <h2>Vacations:</h2>
         </div>
         <div class="content">
            <p>Maintain your study streak even during vacation periods, with your streak automatically frozen to preserve your progress.</p>
         </div>
      </section>
      <!--How to Ends-->
<!--Footer Start-->
<section id="footer">
   <div class="footer-left">
      <img src="img/Navbar-img.png" alt="Navbar-img">
      <div class="socials">
         <i class="fa-brands fa-x-twitter"></i>
         <i class="fa-brands fa-facebook-f"></i>
         <i class="fa-brands fa-tiktok"></i>
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-linkedin-in"></i>
   </div>
   </div>
   <div class="footer-right">
      <div class="support">
         <h1>Support</h1>
         <a href="/Documentation">Documentation</a>
         <a href="/Learnmore">Learn More</a>
         <a href="/Learnmore#how">How to use</a>
         <a href="/Learnmore#price">Products</a>
         <a href="/Learnmore#price">Pricing</a>
         <a href="/Learnmore#how">What is SmrtEdu</a>
         <a href="/Documentation">Api's</a>
      </div>
      <div class="About">
         <h1>About Us</h1>
         <a href="/Learnmore#about">About Us</a>
         <a href="/Learnmore#about">Contact</a>
         <a href="/Learnmore#mission">Mission</a>
      </div>
      <div class="legal">
         <h1>Legal</h1>
         <a href="/Documentation">Documentation</a>
         <a href="/Documentation#terms">Terms</a>
         <a href="/Documentation#privacy">Cookies</a>
         <a href="/Documentation#privacy">Privacy</a>
         <a href="/Documentation#terms">Legal</a>
         <a href="/Documentation#terms">Author</a>
         <a href="/Documentation#community">Community Guide</a>
      </div>
   </div>
   <br>
   <br>
   <br>
   <div class="line-container">
      <div class="line"></div>
   </div>
 </section>
 <p class="rights">© 2024 Smarteducation. All rights reserved.</p>
 <!--Footer End-->
</body>
</html>