<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <meta property="og:title" content="Smarteducation">
   <meta property="og:description" content="Smarteducation is a platform that helps students study in a better and more helpfull way.">
   <meta property="og:url" content="https://www.smrtedu.com">
   <meta name="keywords" content="Study, Ai, AI, ai, smarteducation, Learn, strategies, games, leaderboard, summary, school, university, highschool, planning, agenda" />
   <meta name="description" content="Welcome to smarteducation." />
   <meta name="author" content="Kiany Goossens" />
    <link rel="Stylesheet" href="Styles/signup-styles.css">
    <link rel="icon" href="img/favicon-32x32.png"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/60152bf639.js" crossorigin="anonymous"></script>
    <title>Signup | Smarteducation</title>
 <!--  ____                       _           _                 _   _             
      / ___| _ __ ___   __ _ _ __| |_ ___  __| |_   _  ___ __ _| |_(_) ___  _ __  
      \___ \| '_ ` _ \ / _` | '__| __/ _ \/ _` | | | |/ __/ _` | __| |/ _ \| '_ \ 
       ___) | | | | | | (_| | |  | ||  __/ (_| | |_| | (_| (_| | |_| | (_) | | | |
      |____/|_| |_| |_|\__,_|_|   \__\___|\__,_|\__,_|\___\__,_|\__|_|\___/|_| |_|
                                                                                    --> 
</head>
<body>
    <div class="main-container">
        <div class="image-wrapper">
            <img src="img/Navbar-img.png" alt="Sign Up">
        </div>
        <div class="form-wrapper">
            <h2>Sign Up</h2>
            <form id="signup-form" action="/signup" method="post">

                <% if (messages.error) { %>
                    <div class="error-message">
                        <strong><%= messages.error %></strong>
                    </div>
                <% } %>

                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <div class="terms-container">
                    <input type="checkbox" id="terms" name="terms" required>
                    <label for="terms">I agree to the <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a></label>
                </div>

                <button type="submit">Next</button>
            </form>
            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>
</body>
</html>
